@CHARSET "UTF-8";
#goodleft {
    width:326px; float:left; clear:left;
	margin:0 auto;
	padding-left:0px;
    background: #FFF;
	border-radius: 0.2em;
	border:1px solid #FFF;
}
#goodright {
    width:326px; float:left; clear:right;
	margin:0 auto;
	padding-left:0px;
    background: #FFF;
	border-radius: 0.2em;
	border:1px solid #FFF;
	text-align:center;
}

#goodleft:hover{
	border:1px solid #9DE2B5;
	border-radius: 0.2em;
}

#goodright:hover{
	border:1px solid #9DE2B5;
	border-radius: 0.2em;
}

#goodinfotop {
    width:656px; float:left; clear:left;
	margin:0 auto;
	padding:0px;
    background: #FFF;
	border-radius: 0.2em;
	/* border:1px solid yellow; */
}
#goodinfotopleft {
    width:400px; float:left; clear:left;
	margin:0 auto;
	padding:0px;
    background: #FFF;
	border-radius: 0.2em;
	/* border:1px solid yellow; */
}
#goodinfotoprigth {
    width:240px; float:left; clear:rigth;
	margin:0 auto;
	padding:0px;
    background: #FFF;
	border-radius: 0.2em;
	/* border:1px solid yellow; */
	text-align:left;
}
#goodinfomid {
    width:650px; float:left; clear:left;
	margin:0 auto;
	padding:0px;
    background: #FFF;
	border-radius: 0.2em;
	/* border:1px solid yellow; */
	text-align:left;
}
#goodinfobot {
    width:650px; float:left; clear:left;
	margin:0 auto;
	padding:0px;
    background: #FFF;
	border-radius: 0.2em;
	/* border:1px solid yellow; */
}
#headerright {
	height:40px;
	width:210px; float:right; clear:right;
	margin:20px 50PX 0px 20px;
	padding:15px 10px 0px 10px;
    background: #FFF;
	border-radius: 0.2em;
	border-left:8px solid #9DE2B5;
	/* border:1px solid red; */

}